page-cards {
.classname {
        Background: #dedede;
    }
    .tarjeta{
    	width: 100%;
    	height: 100px;
    	padding: 5px;
    	background: #00b58b;
    	border-radius: 5px;
    }
    .guardado{
    	width: 20px;
    	height: 20px;
    	float: right;
    }
}
