page-detalle {
	.classname {
        Background: #dedede;
    }
    .img_tar{
    	width: 100%;
    	height: auto;
    }
    .iconn{
      display: block;
      margin:auto;
      width: 100%;
    }
    .todo{
    	width: 100%;
    }
}
