page-menu {
.classname {
        Background: #dedede;
    }
    .left{
    	float: left;
    }
    .right{
    	float: right;
    }
   .btn{
   	width: 100%;
   	height: 21px;
   	background: #b5ace6;
   	border-radius: 5px;
   }
   .tarjeta{
      width: 100%;
      height: 100px;
      padding: 5px;
      background: #00b58b;
      border-radius: 5px;
    }
    .iconn{
      display: block;
      margin:auto;
       width: 100%;
    }
}
